#comic-head {
    color: white;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 20px;
    background: var(--web);
    padding: 12px;
}
#comic-head > .col{
    background: transparent;
};
.img_logo{
    width: 120px;
    height: 50px;
}
#comic-head .col a{
    text-decoration: none;
    display: flex; gap: 20px;
    align-items: center;
}
#comic-head .col  span{
    font-size: 28px;
    text-shadow: 1px 2px 3px rgb(23, 66, 184);
    color: white;
}
.list-nav {
    background: #23244b;
    position: relative;
    z-index: 1;
}
.list-nav .col{
    display: flex;
    background: #23244b;
    padding: 0px 18px;
    line-height: 24px;
}
.list-nav_btn > div,
.list-nav_btn  a {
    padding: 8px 16px;
    text-transform: capitalize;
    text-decoration: none;;
    cursor: pointer;
    color: #faebeb;
    border-right: 1px solid rgba(65, 65, 65, 0.5);
    display: block;
    z-index: 9;
}
.list-nav_btn > div:hover,
.list-nav_btn > a:hover {
    background: rgba(0,0,0,0.4);
}
#navIcon{
    display: none;
}
/* ---------------------------------------Container ---------------------------------*/
/* Box-genre */
.box-genre{
    margin-top: 10px;
    border-radius: 5px;
}
.box-genre .col{
    padding: 24px;
    grid-template-columns: 2fr 3fr;
    position: relative;
}
.box-genre_random,
.box-genre_list{
    position: relative;
    z-index: 2;
}
.box-genre_random > p{
    font-size:  24px;
    text-transform : uppercase;
    font-weight: 600;
    text-align: center;
    padding-bottom: 12px;
    color: white;
    text-shadow: 1px 2px 3px var(--web);
}
.box-genre_list{
    background: rgba(0,0,0,.4);
    padding: 12px;
    border-radius: 5px;
    list-style: none;
}
.bg_list-title{
    font-size: 20px;
    text-transform: capitalize;
    border-bottom: 1px solid #3b3b3b;
    color: rgb(243, 235, 235);
    text-shadow: 1px 2px 3px black;
    padding-bottom: 8px;
}
.bg_list-search{
    width: 310px;
    background: rgba(15, 15, 15, 0.6);
    border: none;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 5px;
}
.bg_list-genre{
    display: flex;
    flex-wrap: wrap;
    gap: 6px 12px;
    overflow-y: scroll;
    max-height: 80%;
    margin-top: 16px;
}
.box-genre_list span{
    color: #ccc;
    display: block;
    text-transform: capitalize;
    padding: 5px 12px;
    background: rgba(0,0,0,0.4);
    height: 12%;
    border-radius: 3px;
    transition: 0.4s;
    border: 1px solid transparent;
}
.box-genre_list span.choose{
    background: var(--web);
}
.box-genre_list span:hover{
    background: var(--web);
    opacity: 0.9;
}
.box-genre_backgr{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    object-fit: cover;
    width: 100%; height: 100%;
    z-index: 0;
}
.box-genre_overlay{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 1;
    background: rgb(28 67 141 / 40%);
}
.bg_random-img{
    width: 240px;
    height: 280px;
    display: flex;
    margin: 0 auto;
    object-fit: cover;
}
.bg_random-img img{
    border-radius: 5px;
    box-shadow: 8px 7px 5px 1px black;
}
.bg_random-link{
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 20px;
}
.bg_random-link a{
    width: 140px;
    padding: 8px 12px;
    border-radius: 5px;
    text-align: center;
    color: rgb(245, 239, 239);
}
.bg_random-link a:first-child{
    background:rgb(31, 46, 87)
}
.bg_random-link a:last-child{
    background:rgb(43, 42, 42)
}
/* --------------BOX-COMIC-GENRE-------------------- */
.box-comic_genre{
    background: #251557;
    color: white;
    margin-top: 10px;
    padding: 20px;
}
.comic_genre-title{
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}
.comic_genre-title span{
    padding: 5px 12px;
    border-radius: 5px;
    background: rgba(39, 39, 39, 0.4);
}
.comic_genre-box{
    grid-template-columns: repeat(6, 1fr);
    gap: 5px 12px;
}
.genre-box_item{
    margin-top: 20px;
    position: relative;
}
/* .genre-box_item a{
    display: block;
} */
.genre-box_item img{
    border-radius: 5px;
    width: 100%;
    height: 200px;
    border: 1px solid #ddd;
}
.genre-box_name{
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    color: #e0dddd;
}
.genre-box_name:hover{
    color: white;
}
.genre-box_chap{
    position: absolute;
    top: 174px; left: 2px; right: 2px;
    text-align: center;
    padding: 3px 8px 3px 12px;
    background: rgba(0,0,0,0.6);
    color: rgb(243, 240, 240);
    border-radius: 5px;
    font-size: 14px;
}
/* ------------------------------------------BOX-COMIC------------------------- */
.box-comic{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px 8px;
    margin: 20px auto;
    padding: 6px;
}
.comic-item{
    position: relative;
}
.comic-i_infor{
    position: relative;
    transition: .3s;
}
.comic-i_infor:hover{
    transform: translateY(-12px);
}
.comic-i_infor:hover .ci_infor-img{
    opacity: 0.8;
}
.ci_infor-status{
    position: absolute;
    top: 8px; left: -4px;
    background: rgb(82, 81, 81);
    color: white;
    padding: 4px 8px;
    border-top-right-radius: 12px; 
    border-bottom-right-radius: 12px; 
    font-size: 14px;
}
.ci_infor-status.light{
    background: var(--web);
    text-shadow: 2px 2px 3px rgb(15, 15, 15);
}
.ci_infor-img{
    height: 260px;
    object-fit: cover;
    border-radius: 3px;
}
.ci_infor-main{
    position: absolute;
    left: 0; right: 0; bottom: 4px;
    padding: 6px 12px;
    text-transform: capitalize;
    background: rgba(0,0,0,0.4);
    color: white;
    text-shadow: 1px 2px 3px black;
}
.comic-i_edit{
    position: absolute;
    top: 8px; right: 8px;
    background: rgb(24, 79, 124);
    padding: 4px 10px;
    border-radius: 12px;
    color: white;
    font-size: 14px;
    z-index: 1;
}
.comic-i_name >a:hover{
    color: var(--web)
}
.ci_name-comic{
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 4px 8px;
    text-indent: 12px;
}
.ci_name-chap{
    font-size: 14px;
    text-align: center;
}
.ci_name-chap span{
    font-weight: 500;
    font-size: 15px;
}
.cin-chap_update{
    display: flex;
    justify-content: flex-end;
    font-style: italic;
    font-size: 14px;
    padding-top: 8px;
}
.comic-i_web{
    display: flex;
    gap: 4px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    text-transform: capitalize;
    margin-bottom: 6px;
    margin-top: 12px;
    border-top: 1px solid #f8f6f6;
}
.comic-i_web a{
    padding: 4px 12px;
    border: 1px solid #ddd;
    background: var(--web);
    border-radius: 16px;
    color: white;
}

/* Box extra */
.box-extra{
    width: 800px;
    background: rgb(139, 139, 139);
    padding: 12px;
    grid-template-columns: 5fr 2fr;
    border: 1px solid #ddd;
    border-radius: 3px;
    position: fixed;
    top: 80px; left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    z-index: 10;
}
.box-extra form{
    background: #5e5d5d;
    padding: 12px;
}
form input{
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 3px;
    margin-bottom: 12px;
}
.box-extra_title{
    font-size: 26px;
    text-transform: uppercase;
    margin: 12px 6px;
    font-weight: 500;
    color: white;
    text-shadow: 1px 1px 3px black;
}
.box-extra_name{
    grid-template-columns: 3fr 2fr;
}
.box-extra_href{
    grid-template-columns: 1fr 1fr;
}
.box-extra_status{
    grid-template-columns: 1fr 1fr 1fr;
}
.box-extra_col > div p{
    position: relative;
}
.box-extra_col > div p label{
    position: absolute;
    top: 9px;
    left: 13px;
    transition: 0.5s;
}

.be_status-select{
    height: 38px;
    padding: 0 8px;
}
.be_status-link{
    height: 38px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    background:rgb(58, 89, 114);
    border-radius: 5px;
    color: white;
}
.box-extra_note{
    text-indent: 20px;
    padding: 12px;
    color: white;
}
.box-extra_another{
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.be_another-wrap{
    grid-template-columns: 2fr 3fr;
}
.box-extra_btn{
    background: rgb(60, 44, 119);
    padding: 10px 12px;
    width: 320px;
    border-radius: 6px;
    font-size: 18px;
    color: white;
    text-shadow: 1px 2px 3px black;
    text-align: center;
    margin: 12px auto;
}
.be_col-img{
    width: 100%; height: 260px;
}
.be_col-name{
    color: white;
    background: rgb(43, 42, 42);
    padding: 5px 8px;
    text-shadow: 1px 2px 3px rgb(54, 54, 54);
    text-transform: capitalize;
    text-align: center;
}
.be_col-handle{
    justify-content: flex-end;
    position: absolute;
    right: 8px; bottom: 24px;
}
.be_col-handle span{
    padding: 4px 26px;
    border-radius: 3px;
    color: rgb(243, 236, 236);
    margin-top: 24px;
}
.bec-handle_del{
    background: tomato;
}
.bec-handle_clo{
    background: #363636;
}
/* Box inforamtion */
.box-inf{
    background: #17193a;
    padding: 12px;
    color: white;
}
.box-inf_col.rule{
    background: #29223f;
    padding: 12px;
}
.box-inf .col{
    grid-template-columns: 2fr 3fr;
    gap: 20px;
}
.bx_col-title{
    font-size: 24px; font-weight: 600;
    margin-bottom: 12px;
    text-transform: uppercase;
    text-shadow: 1px 2px 3px black;
}
.box-inf_col label{
    padding-left: 12px;
    font-size: 17px;
    margin-bottom: 12px;
    display: block;
}
.box-inf_col input{
    margin-top: 12px;
    font-size: 17px;
    border-radius: 3px;
}
.bx_col-btn{
    background: var(--web);
    padding: 8px 16px;
    border-radius: 5px;
    margin-top: 20px;
    width: 240px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}
.box-inf_col p{
    font-size: 18px;
    text-transform: capitalize;
    padding-bottom: 12px;
}
.box-inf_col ul{
    list-style: none;
}
.box-inf_col ul li {
    margin-bottom: 6px;
    color: #ccc;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
}
.box-inf_col ul li p{
    background: tomato;
    border-radius: 3px;
    padding: 3px 6px;
    color: white;
    font-size: 16px;
}

.bg_list-comic{
    display: none;
}
.bg_list-comic section{
    font-size: 18px;
}
.bgl-comic_close{
    display: none;
    position: absolute;
}
/* ------------------------------------------BOX-WEB-------------------------------- */
#box-web{
    margin: 20px auto;
    
}
#box-web .col{
    background:rgb(63, 63, 63);
    border-radius: 10px;
    padding: 20px;
    grid-template-columns: 4fr 3fr;
}
#box-web P{
    font-size: 24px;
    font-weight: 600;
    color: white;
    text-shadow: 1px 2px 3px #000;
}
.box-web_list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 12px;
    margin-top: 2px;
    justify-content: center;
    color: white;
    font-size: 20px;
}
.box-web_list a{
    padding: 4px 6px;
    color: rgb(227, 225, 225);
    border: 1px solid #636060;
    border-radius: 3px;
    height: 34px;
    text-transform: capitalize;
    font-size: 16px;
}
.box-web_list a:hover{
    color: white;
    background: rgba(0,0,0,.2);
}
.box-web_input div.dgr{
    grid-template-columns: 3fr 4fr;
}
.box-web_input .extra-web span,
.btn-web{
    width: 200px;
    margin: 20px auto;
    text-align: center;
    padding: 8px 12px; 
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.box-web_input label{
    margin: 12px 4px 6px 4px;
    display: block;
    color: white;
}
.box-web_input input{
    font-size: 17px;
}
.box-web_input input[id="name-web"] {
    text-transform: capitalize;
}
.btn-web{
    background: rgb(32, 32, 32);

}
.box-web_input .extra-web {
    display: flex;
    gap: 12px;
    width: 300px;
    margin: 12px auto;
}
.box-web_input .extra-web  span:first-child {
    background: rgb(46, 46, 46);
    font-size: 16px;
    width: 80%;

}
.box-web_input .extra-web span:last-child {
    background: var(--web);
    font-size: 16px;

}