#comic-head {
    color: white;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 20px;
    background: var(--web);
    padding: 12px;
    position: relative;
}
#comic-head > .col{
    background: transparent;
    display: flex;
    justify-content: space-between;
};
.img_logo{
    width: 120px;
    height: 50px;
}
#comic-head .text_logo{
    font-size: 28px;
    text-shadow: 1px 2px 3px rgb(23, 66, 184);
    color: white;
}
.comic-head_search{
    position: relative;
    margin-right: 50px;
    font-size: 16px; 
    font-weight:normal;
}
.comic-head_search input{
    width: 460px;
    background: rgb(254, 254, 255);
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid rgb(43, 62, 97);   
}
.head_search-icon{
    position: absolute;
    top: 4px; right: 4px;
    background: var(--web);
    z-index: 4;
    font-weight: 600;
    font-size: 24px;
    border-radius: 3px;
    cursor: pointer;
}
.head_search-icon p:nth-child(1){padding: 0px 10px}
.head_search-icon p:nth-child(2){padding: 0 11px}
.head_search-style{
    position: absolute;
    top: 115%; right: 0;
    z-index: 6;
    background: rgb(61, 61, 61);
    padding: 12px;
    border-radius: 5px;
    width: 50%;
    text-transform: none;
    border: 1px solid #535353;
}
.head_search-style::after{
    position: absolute;
    top: -10px; right: 6px;
    content: "";
    border-bottom: 18px solid rgb(61, 61, 61);
    border-right: 18px solid transparent;
    border-left: 18px solid transparent;
    z-index: 8;
}
.head_search-style p{
    margin-bottom: 8px;
    font-size: 16px;
    cursor: pointer;
    color: #ddd4d4;
    border-bottom: 1px solid rgb(92, 91, 91);
    border-top: none; border-right: none;
    padding-bottom: 4px;
}
.head_search-style p.choose,
.head_search-style p:hover{
    padding-left: 4px;
    border-left: 4px solid rgb(61, 83, 207);
    color: white;
}
.head_search-box{
    position: absolute;
    top: 110%; left: 0;
    z-index: 6;
    background:rgb(61, 61, 61);
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #535353;
}
.search-box_title{
    border-bottom: 1px solid #6b6969;
    padding: 0px 12px 6px 12px;
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 18px;
    text-transform:none;
}
.search-box_comic{
    max-height: 400px; height: 100%;
    overflow-y: scroll;
}
.sb_comic-item{ 
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 12px;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    color: #f0eded;
    border-bottom: 1px solid #3b3a3a;
    padding: 12px 8px;
    border-radius: 3px;
}
.sb_comic-item:hover{
    background: rgb(51, 50, 50);
}
.sb_comic-item img{
    width: 100px;
    height: 120px;
    object-fit: cover;
    background: rgb(107, 106, 106);
    border-radius: 3px;
} 
.sb_comic-item_wrap > p{
    display: flex;
    flex-wrap: wrap;
    gap:  4px 5px;
    font-size: 14px;
}
.sb_comic-item_wrap p:nth-child(1){
    font-weight: 400;
    text-indent: 12px;
    font-size: 16px;
}
.sb_comic-item_wrap p:nth-child(2){
    color: #ada9a9;
    font-size: 14px;
    font-style: italic; 
    margin: 8px 0px 12px 0px;
}
.sb_comic-item_wrap p:nth-child(3){
    position: absolute;
    right: 12px; bottom: 4px;
    font-size: 14px;
}
.search-icon{display: none};
/* ----------------- */
header .list-nav{
    background: #23244b;
}
.list-nav {
    background: #23244b;
    position: relative;
    z-index: 4;
}
.list-nav .col{
    display: flex;
    background: #23244b;
    padding: 0px 18px;
    line-height: 24px;
}
.list-nav_btn > div,
.list-nav_btn  a {
    padding: 8px 16px;
    text-transform: capitalize;
    text-decoration: none;;
    cursor: pointer;
    color: #faebeb;
    border-right: 1px solid rgba(65, 65, 65, 0.5);
    display: block;
    z-index: 5;
}
.list-nav_btn > div:hover,
.list-nav_btn > a:hover {
    background: rgba(0,0,0,0.4);
}
#navIcon{
    display: none;
}
/* ---------------------------------------Container ---------------------------------*/
#box-suggest > .col {
    height: 400px;
    position: relative;
    margin: 12px auto;
}
#box-suggest .col > img{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 2;
    border-radius: 14px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0px 20%;
}
.overlay-back{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 3;
    background: rgb(28 67 141 / 40%);
    border-radius: 14px;
    height: auto;
}
/* ------------------------------- */
.box-suggest_comic {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 4;
    display: grid;
    grid-template-columns: 2fr 5fr;
    padding: 26px 34px;   
}
.box-suggest_comic img{
    width: 80%; height: 336px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 8px 7px 5px 1px black;
}
.sc-item_name{
    font-size: 32px;
    font-weight: 600;
    color: white;
    text-indent: 46px;
    margin-bottom: 20px;
    text-shadow: 1px 2px 3px var(--web);
    text-transform: capitalize;
}
.sc-item_name.name{
    -webkit-line-clamp: 1;
}
/* ------- */
.sc-item_wrap{
    background: rgba(46, 46, 46, 0.4);
    padding: 12px 20px;
    border-radius: 12px;
    height: 216px;
    overflow-y: scroll;
}
.sc-item_wrap div{
    margin-bottom: 8px;
    color: #c4c1c1;
    font-size: 15px;
}
.sc-item_wrap span{
    font-weight: 500;
    color: rgb(224, 221, 221);
}
.sc-item_another, .sc-item_web{
    display: flex;
    gap: 0 2px;
    flex-wrap: wrap;
}
.sc-item_web span,
.sc-item_char span,
.sc-item_another span{
    text-indent: 16px;
    text-transform: capitalize;
}
.sc-item_genre,
.sc-item_genre span{
    display: flex;
    flex-wrap: wrap;
    gap: 5px 8px;
}
.sc-item_genre a{
    padding: 4px 8px;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    border: 1px solid #a3a1a1;
    color: #dddada;
}
.sc-item_genre a.choose{
    background: rgb(43, 40, 71);
}
.sc-item_read{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.sc-item_read a{
    border: 1px solid #383131;
    padding: 8px 12px;
    border-radius: 3px;
    color: rgb(245, 239, 239);
}
.sc-item_read a:nth-child(1) {
    background: rgb(39, 56, 104);
}
.sc-item_read a:nth-child(2) {
    background: rgb(43, 42, 42);
}
/* ------------------------------- */
.box-suggest_nav{
    position: absolute;
    bottom: 30px; right: 30px;
    z-index: 4;
    display: flex;
    align-items: center;
    color: rgb(252, 249, 249);
    text-shadow: 1px 2px 3px black;
}
.box-suggest_nav p{
    font-weight: 800;
    font-size: 18px;
}
.box-suggest_nav div{
    gap: 30px;
}
.box-suggest_nav i{
    font-size: 20px;
    padding: 8px 10px;
    margin-left: 20px;
    transition: 0.3s;
    border-radius: 50%;
}
.box-suggest_nav i:hover{
    background:rgb(15, 15, 15);
}
/* -------------------------------Box-genre -------------------------------*/
.box-genre{
    margin-top: 10px;
    border-radius: 5px;
}
.box-genre .col{
    padding: 24px;
    grid-template-columns: 2fr 4fr;
    position: relative;
}
.box-genre_random,
.box-genre_list{
    position: relative;
    z-index: 2;
}
.box-genre_random > p{
    font-size:  24px;
    text-transform : uppercase;
    font-weight: 600;
    text-align: center;
    margin-bottom: 12px;
    color: white;
    text-shadow: 1px 2px 3px var(--web);
}
.box-genre_list{
    background: rgba(0,0,0,.4);
    padding: 12px;
    border-radius: 5px;
    list-style: none;
}
.bg_list-title{
    font-size: 20px;
    text-transform: capitalize;
    border-bottom: 1px solid #3b3b3b;
    color: rgb(243, 235, 235);
    text-shadow: 1px 2px 3px black;
    padding-bottom: 8px;
}
.bg_list-search{
    width: 310px;
    background: rgba(15, 15, 15, 0.6);
    border: none;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 5px;
}
.bg_list-genre{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* flex-wrap: wrap; */
    gap: 8px 12px;
    overflow-y: scroll;
    max-height: 80%;
    margin-top: 16px;
}
.box-genre_list a{
    color: #bebcbc;
    display: block;
    text-transform: capitalize;
    padding: 5px 8px;
    background: rgba(0,0,0,0.4);
    /* height: 12%; */
    border-radius: 3px;
    transition: 0.4s;
    border: 1px solid transparent;
    font-size: 15px;
}
.box-genre_list a.choose{
    background: var(--web);
}
.box-genre_list a:hover{
    background: var(--web);
    opacity: 0.9;
}
.box-genre_backgr{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    object-fit: cover;
    width: 100%; height: 100%;
    z-index: 0;
}
.box-genre_overlay{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 1;
    background: rgb(28 67 141 / 40%);
}
.bg_random-img{
    width: 240px;
    max-width: 100%;
    height: 280px;
    display: flex;
    margin: 0 auto;
    object-fit: cover;
}
.bg_random-img img{
    border-radius: 5px;
    box-shadow: 8px 7px 5px 1px black;
}
.bg_random-link{
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 20px;
}
.bg_random-link a{
    width: 140px;
    padding: 8px 12px;
    border-radius: 5px;
    text-align: center;
    color: rgb(245, 239, 239);
}
.bg_random-link a:first-child{
    background:rgb(39, 56, 104)
}
.bg_random-link a:last-child{
    background:rgb(43, 42, 42)
}
/* --------------BOX-COMIC-GENRE-------------------- */
.box-comic_genre{
    background: #372e53;
    color: white;
    margin-top: 10px;
    padding: 20px;
}
.comic_genre-title{
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    display: flex;
    flex-wrap: wrap;
    gap: 12px 8px;
}
.comic_genre-title span{
    padding: 5px 12px;
    border-radius: 5px;
    background: rgba(39, 39, 39, 0.4);
}
.comic_genre-box{
    grid-template-columns: repeat(6, 1fr);
    gap: 5px 12px;
}
.genre-box_item{
    margin-top: 20px;
    position: relative;
}
.genre-box_item img{
    border-radius: 5px;
    width: 100%;
    height: 240px;
    border: 1px solid #ddd;
}
.genre-box_name{
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    color: #e0dddd;
}
.genre-box_name:hover{
    color: white;
}
.genre-box_chap{
    position: absolute;
    top: 214px; left: 2px; right: 2px;
    text-align: center;
    padding: 3px 8px 3px 12px;
    background: rgba(0,0,0,0.6);
    color: rgb(243, 240, 240);
    border-radius: 5px;
    font-size: 14px;
}
/* ---------------------------------------BOX-COMIC_NAV------------------------ */
.box-comic_nav .col{
    display: flex;
    justify-content: flex-end;
    gap: 8px 4px;
    margin: 20px auto 10px auto;
}
.box-comic_nav span{
    background:rgb(59, 46, 134);
    color: white;
    border-radius: 18px;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}
.box-comic_nav span.choose{
    background: #172961;
}
/* ------------------------------------------BOX-COMIC------------------------- */
.box-comic{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px 8px;
    margin: 0 auto;
    padding: 6px;
}
.box-comic > span p{
    display: inline;
}
.box-comic > span p:nth-child(1) {
    color: #253e7b;
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
}
.box-comic > span p:nth-child(2){
    font-style: italic;
    font-size: 18px;
    color: #3858a8;
    font-weight: 500;
}
.box-comic .genre-wrap{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 12px 8px;
    margin: 20px auto;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 12px;
    background: rgb(252 252 252)
}
/* -------- */
.comic-item{
    position: relative;
}
.comic-i_infor{
    position: relative;
    transition: .3s;
}
.comic-i_infor:hover{
    transform: translateY(-12px);
}
.comic-i_infor:hover .ci_infor-img{
    opacity: 0.8;
}
.ci_infor-status{
    position: absolute;
    top: 8px; left: -4px;
    background: rgb(16 15 15 / 60%);
    color: rgb(221, 215, 215);
    padding: 4px 8px;
    border-radius: 0 3px 3px 0;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
}
.ci_infor-status::after{
    content: "";
    position: absolute;
    bottom: -4px;
    left: 2px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-right:3px solid rgb(56, 56, 56);
    transform: rotate(135deg) 
}
.ci_infor-status.light{
    color: rgb(201, 218, 253);
    text-shadow: 2px 2px 3px rgb(15, 15, 15);
}
.ci_infor-img{
    height: 260px;
    object-fit: cover;
    border-radius: 3px;
}
.ci_infor-main{
    position: absolute;
    left: 0; right: 0; bottom: 4px;
    padding: 6px 12px;
    text-transform: capitalize;
    background: rgba(0,0,0,0.4);
    color: white;
    text-shadow: 1px 2px 3px black;
    border-radius: 14px 3px;
}
.comic-i_edit{
    position: absolute;
    top: 8px; right: 8px;
    background: rgb(24, 79, 124);
    padding: 4px 10px;
    border-radius: 12px;
    color: white;
    font-size: 14px;
    z-index: 1;
}
.comic-i_name >a:hover{
    color: var(--web)
}
.ci_name-comic{
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 4px 8px;
    text-indent: 12px;
}
.ci_name-chap{
    font-size: 14px;
    text-align: center;
}
.ci_name-chap span{
    font-weight: 500;
    font-size: 15px;
}
.cin-chap_update{
    display: flex;
    justify-content: flex-end;
    font-style: italic;
    font-size: 14px;
    padding-top: 8px;
}
.comic-i_web{
    display: flex;
    gap: 4px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    text-transform: capitalize;
    margin-bottom: 6px;
    margin-top: 12px;
    border-top: 1px solid #f8f6f6;
}
.comic-i_web a{
    padding: 4px 12px;
    border: 1px solid #ddd;
    background: var(--web);
    border-radius: 16px;
    color: white;
}

/* Box extra */
.box-extra{
    width: 940px;
    background: rgb(139, 139, 139);
    padding: 12px;
    grid-template-columns: 5fr 2fr;
    border: 1px solid #ddd;
    border-radius: 3px;
    position: fixed;
    top: 80px; left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    z-index: 10;
}
.box-extra form{
    background: #5e5d5d;
    padding: 12px;
}
form input{
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 3px;
    margin-bottom: 12px;
}
.box-extra_title{
    font-size: 26px;
    text-transform: uppercase;
    margin: 12px 6px;
    font-weight: 500;
    color: white;
    text-shadow: 1px 1px 3px black;
}
.box-extra_name{
    grid-template-columns: 3fr 2fr;
}
.box-extra_href{
    grid-template-columns: 1fr 1fr;
}
.box-extra_status{
    grid-template-columns: 1fr 1fr 1fr;
}
.box-extra_col > div p{
    position: relative;
}
.box-extra_col > div p label{
    position: absolute;
    top: 9px;
    left: 13px;
    transition: 0.5s;
}

.be_status-select{
    height: 38px;
    padding: 0 8px;
}
.be_status-link{
    height: 38px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    background:rgb(58, 89, 114);
    border-radius: 5px;
    color: white;
}
.box-extra_note{
    text-indent: 20px;
    padding: 12px;
    color: white;
}
.box-extra_another{
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.be_another-wrap{
    grid-template-columns: 2fr 3fr;
}
.box-extra_btn{
    background: rgb(60, 44, 119);
    padding: 10px 12px;
    width: 320px;
    border-radius: 6px;
    font-size: 18px;
    color: white;
    text-shadow: 1px 2px 3px black;
    text-align: center;
    margin: 12px auto;
}
.be_col-img{
    width: 100%; height: 280px;
}
.be_col-name{
    color: white;
    background: rgb(43, 42, 42);
    padding: 5px 8px;
    text-shadow: 1px 2px 3px rgb(54, 54, 54);
    text-transform: capitalize;
    text-align: center;
}
.be_col-handle{
    justify-content: flex-end;
    position: absolute;
    right: 8px; bottom: 24px;
}
.be_col-handle span{
    padding: 4px 26px;
    border-radius: 3px;
    color: rgb(243, 236, 236);
    margin-top: 24px;
}
.bec-handle_del{
    background: tomato;
}
.bec-handle_clo{
    background: #363636;
}
/* Box inforamtion */
.box-inf{
    background: #17193a;
    padding: 12px;
    color: white;
}
.box-inf_col.rule{
    background: #29223f;
    padding: 12px;
}
.box-inf .col{
    grid-template-columns: 2fr 3fr;
    gap: 20px;
}
.bx_col-title{
    font-size: 24px; font-weight: 600;
    margin-bottom: 12px;
    text-transform: uppercase;
    text-shadow: 1px 2px 3px black;
}
.box-inf_col label{
    padding-left: 12px;
    font-size: 17px;
    margin-bottom: 12px;
    display: block;
}
.box-inf_col input{
    margin-top: 12px;
    font-size: 17px;
    border-radius: 3px;
}
.bx_col-btn{
    background: var(--web);
    padding: 8px 16px;
    border-radius: 5px;
    margin-top: 20px;
    width: 240px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}
.box-inf_col p{
    font-size: 18px;
    text-transform: capitalize;
    padding-bottom: 12px;
}
.box-inf_col ul{
    list-style: none;
}
.box-inf_col ul li {
    margin-bottom: 6px;
    color: #ccc;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
}
.box-inf_col ul li p{
    background: tomato;
    border-radius: 3px;
    padding: 3px 6px;
    color: white;
    font-size: 16px;
}
.bg_list-close{
    display: none;
    position: absolute;
}
/* ------------------------------------------BOX-WEB-------------------------------- */
#box-web{
    margin: 20px auto;
    
}
#box-web .col{
    background:rgb(63, 63, 63);
    border-radius: 10px;
    padding: 20px;
    grid-template-columns: 4fr 3fr;
}
#box-web P{
    font-size: 24px;
    font-weight: 600;
    color: white;
    text-shadow: 1px 2px 3px #000;
}
.box-web_list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 12px;
    margin-top: 2px;
    justify-content: center;
    color: white;
    font-size: 20px;
}
.box-web_list a{
    padding: 4px 6px;
    color: rgb(227, 225, 225);
    border: 1px solid #636060;
    border-radius: 3px;
    height: 34px;
    text-transform: capitalize;
    font-size: 16px;
}
.box-web_list a:hover{
    color: white;
    background: rgba(0,0,0,.2);
}
.box-web_input{
    background: #55535399;
    padding: 20px 40px;
    border-radius: 12px;
}
.box-web_input div.dgr{
    grid-template-columns: 3fr 4fr;
}
.box-web_input .extra-web span,
.btn-web{
    text-align: center;
    padding: 8px 12px; 
    border-radius: 5px;
    color: rgb(228, 226, 226);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    transition: 0.6s;
}
.box-web_input label{
    margin: 12px 4px 6px 4px;
    display: block;
    color: white;
}
.box-web_input input{
    font-size: 17px;
}
.box-web_input input[id=name-web] {
    text-transform: capitalize;
}
.btn-web{
    background: rgb(32, 32, 32);
    margin: 20px auto;
    max-width: 300px;
    text-align: center;
}
.box-web_input label{
    font-size: 20px;
}
.box-web_input .extra-web {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin: 28px auto;
    text-align: center;
    justify-content: center;
}
.box-web_input .extra-web  span:nth-child(1) {
    background: rgb(46, 46, 46);
}
.box-web_input .extra-web span:nth-child(2) {
    background: var(--web);
}
.box-web_input .extra-web span:nth-child(3) {
    background: #504e4e;
}

#box-nav{
    position: fixed;
    top: 0; left: -600px; bottom: 0;
    max-width: 600px;
    background: rgb(71, 71, 71);
    z-index: 10;
    padding: 20px;
    color: rgb(241, 239, 239);
    transition: 0.6s;
}
.box-nav_head{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between;
}   
#box-nav .box-nav_title{
    font-size: 24px;
    border-bottom: 1px solid #555555;
    padding-bottom: 12px;
}
.box-nav_input{
    color: #f2eded;
    border-radius: 4px;
    background: rgb(44 42 42 / 40%);
    font-size: 17px;
    border: 1px solid #5d5a5a;
    width: 260px;
}
#box-nav .box-nav_close{
    position: absolute;
    right: 12px; bottom: 12px;
    padding: 8px 36px;
    background: #2b3670;
    border-radius: 5px;
    border: 1px solid #2c2b2b;
}

.box-nav_item{
    display: grid;
    margin: 20px 0;
    gap: 8px 12px;
    max-height: 440px;
    width: 560px; max-width: 100%;
    overflow-y: scroll;
}
.box-nav_item a {
    display: block;
    background: #56535399;
    color: rgb(226, 226, 226);
    border: 1px solid #938c8c;
    border-radius: 5px;
    padding: 6px 12px;
    text-transform: capitalize;
}
.box-nav_item a.choose{
    background: #7b7b7f;
    border: 1px solid #444242;
    transition: 0.3s;
}




/* ------------------------------- */
.web-fixed_nav i{
    position: fixed;
    right: 34px; bottom: 34px;
    font-size: 38px;
    color: #2658c9;
    text-shadow: 1px 2px 3px var(--web);
    z-index: 4;
}
.web-fixed_nav i:last-child{ right: 36px;}
.web-fixed_icon i{
    position: fixed;
    text-shadow: 1px 2px 3px var(--web);
    z-index: 4;
}
.web-fixed_icon .fa-plus {
    bottom: 22px; right: 124px;
    font-size: 36px;
    color: #f2f5f2;
}
.web-fixed_icon .fa-arrow-up {
    right: 38px; bottom: 124px;
    color: red;
    font-size: 34px;
}
.web-fixed_icon .fa-globe{
    right: 72px;
    bottom: 102px;
    font-size: 28px;
    color: green;
}
.web-fixed_icon .fa-list{
    right: 100px;
    bottom: 60px;
    color:tomato;
    font-size: 28px;
}
/* ------------------------------- */
